* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont; 
}

.app {
  padding-bottom: 70px;
  /* height: 100vh;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none; */
}

.app::-webkit-scrollbar {
  display: none;
}